<!DOCTYPE html>
<html>
<head>
    <title>Analytic Tool</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300, bold' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
</head>
<body ng-app="VizApp">
    <div id="container" ng-controller="MainController" ng-init="init()">
       <div id="TopBar">
           <h1>OpSense</h1>
           <ul>
                <li>
                   <label>Dataset: </label>
                   <select ng-model="index">
                      <option value="ratemyprofessor">RateMyProfessor</option>
                       <option value="yelphealth">Yelp Health</option>
                        <option value="zocodoc">Zoc Doc</option>
                        <option value="myworld2">My World</option>
                        <option value="whs">Whs</option>
                        
                        <option value="yelprestaurants">Yelp Restaurants</option>
                        
                        
                   </select>
                </li>
                <li>
                   <label>Pattern: </label>
                   <input ng-model="pattern" ng-model-options="{ updateOn: 'blur' }" type="text">
                    &nbsp;&nbsp;
                   <label>Search: </label>
                   <input type="search" ng-model="searchTerm" ng-model-options="{ updateOn: 'blur' }">
                    &nbsp;&nbsp;
                    <label>Limit: </label>
                   <input type="number" style="width:40px" ng-model="limit" ng-model-options="{ updateOn: 'blur' }">
                    &nbsp;&nbsp;
                   <label>Num Reviews: </label>
                   <label>{{mainData.hits}}</label>
                </li>
                <li>
                   <button ng-click="load()">Load</button>
                </li>
                <li>
                   <button ng-click="reset()">Reset</button>
                </li>
                <li>
                   <button ng-click="goBack()">Back</button>
                </li>
           </ul>
       </div>
       <div id="FieldSelection">
           <ul>
               <li><h2>x Axis</h2></li>
               <li>
                   <label>Field</label>
                   <select ng-model="xOperation.field" ng-options="field.text group by field.type for field in fields"></select>
                   
               </li>
               <li>
                   <label>Metric</label>
                   <select ng-model="xOperation.operation">
                        <option value="avg">Average</option>
                        <option value="min">Min</option>
                        <option value="max">Max</option>
                        <option value="sum">Sum</option>
                        <option value="value_count">Value Count</option>
                        <option value="variance">Variance</option>
                        <option value="terms">Categories</option>
                   </select>
               </li>
           </ul>
           <ul>
               <li><h2>y Axis</h2></li>
               <li>
                   <label>Field</label>
                     <select ng-model="yOperation.field" ng-options="field.text group by field.type for field in fields"></select>

               </li>
               <li>
                   <label>Metric</label>
                   <select  ng-model="yOperation.operation">
                        <option value="avg">Average</option>
                        <option value="min">Min</option>
                        <option value="max">Max</option>
                        <option value="sum">Sum</option>
                        <option value="value_count">Value Count</option>
                        <option value="variance">Variance</option>
                   </select>
               </li>
           </ul>
           
       </div>
       <div id="TermsList">
           <h2>Terms</h2>
            <ul class="selectedList" ng-show="getSelected().length > 0">
                <li ng-repeat="i in getSelected()">
                   <span class="similar1">{{ i.key.split(" ")[0]}}</span>
                   <span class="similar2">{{ i.key.split(" ")[1]}}</span>
                </li>
                <li class="actions">
                    <button class="btn-second" ng-click="removeSelected()">Remove</button>
                </li>
            </ul>
            <ul>
               <li style="border-bottom: solid 1px #eee; padding-bottom:5px;"><input ng-model="termFilter" type="search" placeholder="search" style="width:125px" /></li>
                <li ng-repeat="i in data | filter: {key: termFilter}" ng-click="select(i, $event)" ng-class="classes('',i)" ng-mouseover="highlight(i)" ng-mouseleave="unhighlight(i)">{{i.key}}</li>
            </ul>
       </div>
       <div class="mainVizualization" id="vizContainer">
           <h1>&nbsp; <span ng-show="getHiglited().key">{{getHiglited().key}} ({{xOperation.field.text}}: {{getHiglited().x | number:1}} <span ng-show="xOperation.field.text != yOperation.field.text">| {{yOperation.field.text}}: {{getHiglited().y | number:1}} </span> | count: {{getHiglited().review_count}} )</span></h1>
           <div id="legend"></div>
       </div>
       <div id="snippetList">
           <ul>
               <li ng-repeat="r in reviews" ng-click="openReview(r)"><span class="entity">@{{r.entity}}</span> - <span ng-bind-html="r.snippet"></span>
                   <br /> - <span class="reviewInfo">{{xOperation.field.text}}: {{getValue(r, 'x')}}</span><span ng-show="xOperation.field.text != yOperation.field.text" class="reviewInfo">, {{yOperation.field.text}}: {{getValue(r, 'y')}}</span></li>
           </ul>
       </div>
        <div ng-show="showModal" ng-click="hideModal()" class="reviewDisplay">
           <div class="reviewContent">
                <h2>{{selectedReview.entity}}</h1>
                <p ng-bind-html="selectedReview.text">
                  
                </p>
                <div style="text-align: right"><button>Close</button></div>
                
            </div>
        </div>
        <div ng-show="loading > 0" class="loading">
           <h1>Loading...</h1> 
        </div>
    </div>
    
   
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-61671027-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();        
    </script>    
    <script src="vendors/d3/d3.js"></script>
    <script src="vendors/angular/angular.js"></script>
    <script src="vendors/angular/angular-sanitize.js"></script>
    <script src="vendors/elasticsearch/elasticsearch.angular.js"></script>
    <script src="vendors/ui-bootstrap.min.js"></script>
    <script src="services.js"></script>
    <script src="main.js"></script>
    
</body>
</html>
















