<!DOCTYPE html>
<html>
<head>
    <title>Analytic Tool</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
</head>
<body ng-app="VizApp">
    <div id="container" ng-controller="MainController" ng-init="init()">
       <div id="TopBar">
           <h1>OpSense</h1>
           <ul>
                <li>
                   <label>Dataset: </label>
                   <select ng-model="index">
                       <option value="yelphealth">Yelp Health</option>
                        <option value="zocodoc">Zoc Doc</option>
                   </select>
                </li>
                <li>
                   <label>Pattern: </label>
                   <input ng-model="pattern" type="text">
                </li>
                <li>
                   <label>Filter: </label>
                   <input type="text" ng-model="searchTerm">
                </li>
                <li>
                   <label>Min: </label>
                   <input type="number">
                </li>
                <li>
                   <button ng-click="load()">Load</button>
                </li>
               
           </ul>
       </div>
       <div id="FieldSelection">
           <ul>
               <li><h2>x Axis</h2></li>
               <li>
                   <label>Field</label>
                   <select ng-model="xOperation.field" ng-options="field.text group by field.type for field in fields"></select>
                   
               </li>
               <li>
                   <label>Metric</label>
                   <select ng-model="xOperation.operation">
                        <option value="avg">Average</option>
                        <option value="min">Min</option>
                        <option value="max">Max</option>
                        <option value="sum">Sum</option>
                        <option value="value_count">Value Count</option>
                        <option value="variance">Variance</option>
                   </select>
               </li>
           </ul>
           <ul>
               <li><h2>y Axis</h2></li>
               <li>
                   <label>Field</label>
                     <select ng-model="yOperation.field" ng-options="field.text group by field.type for field in fields"></select>

               </li>
               <li>
                   <label>Metric</label>
                   <select  ng-model="yOperation.operation">
                        <option value="avg">Average</option>
                        <option value="min">Min</option>
                        <option value="max">Max</option>
                        <option value="sum">Sum</option>
                        <option value="value_count">Value Count</option>
                        <option value="percentiles">Percentiles</option>
                        <option value="terms">Terms</option>
                        <option value="significant_terms">Sig. Terms</option>
                        <option value="variance">Variance</option>
                        <option value="std_deviation">Std. Deviation</option>
                        <option value="date_histogram">Date Histogram</option>
                        <option value="histogram">Histogram</option>
                   </select>
               </li>
           </ul>
       </div>
       <div id="TermsList">
           <h2>Terms</h2>
            <ul class="selectedList" ng-show="getSelected().length > 0">
                <li ng-repeat="i in getSelected()">
                   <span class="similar1">{{ i.key.split(" ")[0]}}</span>
                   <span class="similar2">{{ i.key.split(" ")[1]}}</span>
                </li>
                <li class="actions">
                    <button enabled=false>Group</button>
                    <button class="btn-second">Remove</button>
                </li>
            </ul>
            <ul>
               <li style="border-bottom: solid 1px #eee; padding-bottom:5px;"><input ng-model="termFilter" type="search" placeholder="search" style="width:90px" /> <button>+</button> </li>
                <li ng-repeat="i in data | filter: {key: termFilter}" ng-click="select(i, $event)" ng-class="classes('',i)" ng-mouseover="highlight(i)" ng-mouseleave="unhighlight(i)">{{i.key}}</li>
            </ul>
       </div>
       <div class="mainVizualization" id="vizContainer">
           <h1>&nbsp; <span ng-show="getHiglited().key">{{getHiglited().key}} (x: {{getHiglited().x | number:1}} | y: {{getHiglited().y | number:1}} | count: {{getHiglited().review_count | number:1}} )</span></h1>
       </div>
       <div id="snippetList">
           <ul>
               <li ng-repeat="r in reviews"><span class="entity">@{{r.entity}}</span> - {{r.text}} <br />x: {{getValue(r, 'x')}}, y: {{getValue(r, 'y')}}</li>
           </ul>
       </div>
    </div>
    <script src="vendors/d3/d3.js"></script>
    <script src="vendors/angular/angular.js"></script>
    
    <script src="vendors/elasticsearch/elasticsearch.angular.js"></script>
    <script src="vendors/lasso.js"></script>
    <script src="services.js"></script>
    <script src="main.js"></script>
</body>
</html>